
.responsive-img {
    width: 100%;  /* Default: Full width */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image */
}

.image_section {
    position: relative; 
    width: 100%;
    height: auto;
}

.image_section::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.29); 
}

/* @media (min-width: 640px) { 
    .responsive-img {
        width: 75%; 
    }
}

@media (min-width: 768px) { 
    .responsive-img {
        width: 66.67%;
    }
}

@media (min-width: 1024px) { 
    .responsive-img {
        width: 50%; 
    }
}
 */
